page-agenda {
	ion-content{
		.sala{
			word-wrap: break-word;
		}
		.accordion {
			background-color: #fff;
			//color: #444;
			cursor: pointer;
			padding: 10px;
			width: 100%;
			border: none;
			text-align: center;
			outline: none;
			font-size: 1em;
			transition: 0.4s;
		}

		.active, .accordion:hover {
			background-color: #ccc; 
		}

		.panel {
			padding: 0 18px;
			display: none;
			background-color: white;
			overflow: hidden;
		}
	}

	.container-top{
		background-color:map-get($colors,gray);
		position: relative;
		text-align: center;
		color: white;
		top: 0;
		left: 0;

		.header{
			position:relative;
			top: 0;
			left: 0;
			width:100%;
		}
		.header-hija{
			width:70%;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index:3;
		}
		.button-container{
			background-color:map-get($colors,gray);
			background-color: transparent;
			width:100%;
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding:0;
			margin:0;
			z-index:4;
			.button-ios{
				height:initial !important;
			}
			#uno{
				//background-color:map-get($colors,primary) !important;
			}
			button{
				//background-color:map-get($colors,gray);
				background-color: transparent;
				padding:0;
				margin:0;
				border-radius: 0;
				width:32.5%;
			}
		}
	}

}
